<center>
  <style>
    body {
      background-color: #f5f5f5;
      align-content: center;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      transition: width 2s, height 4s;
    }
  </style>

  <div style="border-radius: 10px;
border: 5px solid black;
padding: 20px;
margin: 20px;
width: auto;
display: flex;
flex-direction: column;
">

    <h2>User Successfully Registered You Can Close This Page 😉</h2>
    <h3> in case of any problems please use the button below to retry</h3>
    <div class="col-md-12"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline"
        href="/accounts/google/login/?process=login" style="color: #545454;
      background-color: #ffffff;
      box-shadow: 0 1px 2px 1px #ddd" ; background-color: #4099ff; border-color: #4099ff; color: #fff; cursor: pointer;
        -webkit-transition: all ease-in .3s; transition: all ease-in .3s><img
          src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using
        Google</a> </div>

  </div>
</center>